// Global variables
$primaryColor: black;
$secondaryColor: white;
$primaryTextColor: rgba(255, 255, 255, 0.7);
$secondaryTextColor: #363638;
$fullViewPointWidth: 100vw;
$firstFilter: invert(98%) sepia(6%) saturate(896%) hue-rotate(192deg)
  brightness(117%) contrast(76%);
$secondFilter: invert(84%) sepia(3%) saturate(167%) hue-rotate(202deg)
  brightness(112%) contrast(85%);

// Mixins
@mixin displayGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

@mixin flexColumnJustifyAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin columnDirectionJustify {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin columnDirectionAlign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexColumnDirection {
  display: flex;
  flex-direction: column;
}

@mixin flexJustifyCenter {
  display: flex;
  justify-content: center;
}

@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}

// Resetting default margin, padding, and box-sizing
* {
  margin: 0;
  padding: 0;
  box-sizing: border-bo;
  list-style-type: none;
}

body {
  font-family: "Montserrat", sans-serif; /* External font from Google Fonts "Alatsi" */
  background-color: $primaryColor;
  color: $primaryTextColor;
}

// Sidebar
aside {
  position: fixed;
  border-right: 1px solid $secondaryTextColor;
  // Title in sidebar (Logo)
  .logo {
    padding: 32px 20px 35px 22px;
    font-size: 30px;
  }

  nav {
    height: 97vh;
    width: 15vw;
    // List (unordered) of icons and corresponding texts in the sidebar
    .nav-list {
      @include flexColumnDirection;
      justify-content: space-between;
      height: 85%;

      div {
        @include flexColumnDirection;
        gap: 20px;
        // Instagram icon for Tablet view
        .instaIcon {
          display: none;
        }

        li {
          a {
            @include flexAlignCenter;
            align-content: center;
            text-decoration: none;
            font-size: 16px;
            color: $primaryTextColor;
            margin-left: 17px;

            img {
              margin-right: 12px;
            }

            .pimg {
              width: 24px;
              height: 24px;
              border-radius: 100%;
              border: 2px solid $primaryTextColor;
              margin-right: 12px;
            }
          }
        }
      }
    }
  }
}

// Main section
main {
  margin-left: 15vw; /* Because the sidebar is 15vw wide */
  // Header
  header {
    @include flexJustifyCenter;
    height: 300px;
    // Desktop & Tablet header
    .containerall {
      @include flexColumnDirection;
      justify-content: space-around;
      width: 700px;

      li {
        .informationall {
          display: flex;
          gap: 55px;
          padding-top: 3%;
          padding-left: 7%;

          .imgprofile {
            border-radius: 100%;
            max-width: 120px;
            max-height: 120px;
          }
          // Header content (Bio frame)
          .container-info {
            @include columnDirectionJustify;
            gap: 20px;
            // Buttons for editing profile and viewing archive
            .infoedit {
              display: flex;
              gap: 10px;

              .name {
                color: $primaryTextColor;
                font-size: 18px;
                font-weight: bolder;
                margin-top: 5px;
              }

              .edit {
                @include flexAlignCenter;
                background-color: $secondaryTextColor;
                border-radius: 8px;
                padding: 2px 12px;
                font-size: 12px;
                text-align: center;

                a {
                  text-decoration: none;
                  color: $primaryTextColor;
                }
              }
            }
            // Stats
            .information {
              display: flex;
              justify-content: space-between;
              width: 300px;
              font-size: 15px;

              p {
                color: $primaryTextColor;
                font-weight: bold;
              }
            }
          }
        }
      }

      li.container-new {
        padding-left: 20px;

        .newp {
          color: $primaryTextColor;
          padding-left: 20px;
          font-size: 12px;
        }
      }
    }
  }

  // middle section
  section {
    // Navigation tabs
    .container-posts {
      @include columnDirectionAlign;
      // Tabs
      .Po-Sa-Ta {
        @include flexJustifyCenter;
        gap: 20px;
        font-size: 12px;
        border-top: 1px solid $secondaryTextColor;
        width: 700px;

        li {
          height: 40px;
          @include flexAlignCenter;
          color: $secondaryTextColor;
          font-weight: bold;

          img {
            margin-right: 12px;
          }
        }
        // The selected tab is highlighted
        .selected {
          color: $primaryTextColor;
          border-top: 2px solid white;
          font-weight: 500;
        }
      }
    }
    // Gallery grid for images
    .gallery {
      @include displayGrid;

      img {
        max-width: 230px;
        max-height: 230px;
      }
    }
  }

  // Footer
  footer {
    @include flexColumnJustifyAlign;
    // Footer links
    .footerlinks {
      @include flexJustifyCenter;
      gap: 6px;
      margin-top: 10px;

      a {
        text-decoration: none;
        color: $secondaryTextColor;
        font-size: 10px;
        font-weight: bold;
      }
    }
    // Language selector and copyright
    .Language {
      display: flex;
      margin: 18px 0;
      gap: 21px;
      font-size: 11px;

      select {
        border: none;
        color: $secondaryTextColor;
        font-size: 12px;
        font-weight: bolder;
        background-color: $primaryColor;
      }
      // Copyright information
      p {
        color: $secondaryTextColor;
        font-size: 10px;
        font-weight: bold;
      }
    }
  }
}

// To hide mobile Header's HTML
.mobile-header,
.emoji,
.information-mobile {
  display: none;
}

//Tablet Media Queries
@media screen and (min-width: 768px) and (max-width: 1025px) {
  aside {
    // Hide title in sidebar (Logo)
    .logo {
      display: none;
    }

    nav {
      height: 100vh;
      width: 8vw;

      .nav-list {
        padding: 30% 0 0 6%;
        // Display Instagram icon for Tablet view
        li.instaIcon {
          display: block;
          margin-bottom: 40px;
        }
        // Hide text for Tablet view
        span {
          display: none;
        }
      }
    }
  }

  main {
    margin-left: 8vw;
    header {
      .containerall {
        @include flexColumnDirection;
        justify-content: space-around;
        width: 686px;
      }
    }
  }

  section {
    .container-posts {
      margin-left: 1px;
    }

    .Po-Sa-Ta {
      @include flexJustifyCenter;
      gap: 20px;
      font-size: 12px;
      border-top: 1px solid $secondaryTextColor;
      width: 700px;

      li {
        @include flexAlignCenter;
      }
    }

    .gallery {
      @include displayGrid;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  footer {
    @include flexColumnJustifyAlign;

    .footerlinks {
      @include flexJustifyCenter;
      gap: 6px;
      margin-top: 10px;

      a {
        text-decoration: none;
        color: $primaryTextColor;
        font-size: 11px;
      }
    }

    .Language {
      display: flex;
      margin: 18px 0;
      gap: 20px;
      font-size: 11px;

      select {
        border: none;
        color: $secondaryTextColor;
        font-size: 12px;
        font-weight: bolder;
      }

      p {
        color: $secondaryTextColor;
        font-size: 11px;
      }
    }
  }
}

//Mobile Media Queries
@media screen and (min-width: 100px) and (max-width: 768px) {
  * {
    overflow-x: hidden;
  }
  // Hide sidebar border
  aside {
    border: none;
    // Hide title in sidebar (Logo)
    .logo {
      display: none;
    }
    // Make sidebar at bottom
    .nav-list {
      .f-items {
        @include flexAlignCenter;
        flex-direction: row;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0%;
        gap: 0;
        width: $fullViewPointWidth;
        height: 55px;
        background-color: $primaryColor;

        li {
          overflow: hidden;

          img {
            width: 40px;
            height: 40px;
          }

          .pimg {
            height: 40px;
            width: 40px;
            margin: 0;
          }

          span {
            display: none;
          }
        }
        // Hide search and notification icons for mobile view
        .searchIcon,
        .heartIcon {
          display: none;
        }
      }
      // Hide bottom icons (threads & more) for Mobile view
      .bottomIcons {
        display: none;
      }
    }
  }

  main {
    width: $fullViewPointWidth;
    margin: 0 0 55px 0;

    header {
      height: auto;
      // Display Mobile Header
      .mobile-header {
        @include flexAlignCenter;
        justify-content: space-between;
        position: fixed;
        width: $fullViewPointWidth;
        padding: 10px;
        background-color: $primaryColor;
        border-bottom: 1px solid white;
      }

      .containerall {
        margin-bottom: 15px;
        .AddedHeader {
          margin: 70px 0 0 10px;

          .informationall {
            @include flexAlignCenter;
            padding: 0;
            gap: 5vw;

            .container-info {
              .infoedit {
                flex-wrap: wrap;
                width: 280px;
                column-gap: 12px;
                row-gap: 20px;
                align-content: center;
                height: 100px;

                .edit {
                  a {
                    font-size: 17px;
                  }
                }
                // Hide Settings icon for Mobile view
                .Settings {
                  display: none;
                }
              }
              // Hide emoji2 for Mobile view
              .emoji2 {
                display: none;
              }
            }

            .imgprofile {
              max-width: 90px;
            }
            // Hide Stats for Mobile view
            ul.information {
              display: none;
            }
          }

          .emoji {
            display: flex;
            margin: 20px 0;
          }
        }
      }
    }

    section {
      width: $fullViewPointWidth;
      // Display stats for Mobile view
      .information-mobile {
        display: flex;
        justify-content: space-around;
        width: $fullViewPointWidth;
        font-size: 15px;
        border-top: 1px solid $secondaryTextColor;
        padding: 10px;

        li {
          @include columnDirectionAlign;
        }
      }

      .Po-Sa-Ta {
        width: $fullViewPointWidth !important;
        gap: 0 !important;
        .click,
        .selected {
          @include flexJustifyCenter;
          width: 100%;

          img {
            width: 37px;
            margin: 5px 0px;
          }
        }
        li {
          overflow-y: hidden;
          span {
            display: none;
          }
        }
      }

      .gallery {
        @include displayGrid;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    footer {
      display: none;
    }
  }
  select {
    border: none;
    background-color: $primaryColor;
    color: $primaryTextColor;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
  }
}

// Light/Dark Theme Media Queries
body.light-mode {
  background-color: $secondaryColor; /* Couleur de fond en mode clair */
  color: $secondaryTextColor !important; /* Couleur de texte en mode clair */

  aside {
    border-right: 1px solid $secondaryTextColor;
    img {
      filter: $firstFilter;
    }
    .pimg {
      filter: none;
    }
  }
  .logo {
    color: #2a2a2e;
  }
  .nav-list {
    a {
      color: #29292c;
    }
  }

  header {
    img.Settings {
      filter: $secondFilter;
    }
    .newp {
      color: #29292c !important;
    }
  }

  @media screen and (max-width: 768px) {
    .mobile-header {
      z-index: 10;
      background-color: $secondaryColor;
      border-bottom: 1px rgba(0, 0, 0, 0.31) solid;
      li {
        color: $primaryColor;
        img {
          filter: $firstFilter;
        }
      }
    }
    aside {
      border: none;
      .f-items {
        background-color: $secondaryColor;
      }
    }
  }
  header {
    li {
      .container-info {
        .infoedit {
          .name {
            color: $secondaryTextColor !important;
          }

          .edit {
            background-color: #dfdfe3 !important;

            a {
              color: $secondaryTextColor !important;
              font-weight: 600;
            }
          }
        }
        // Stats
        .information {
          p {
            color: #4f4f50 !important;
          }
        }
      }
    }
    .new img {
      filter: $secondFilter;
    }
  }
  select {
    color: #707078;
    background-color: $secondaryColor !important;
  }
  .post {
    color: $primaryColor;
  }
  .selected {
    filter: $firstFilter;
  }
  .edit {
    background-color: rgba(0, 0, 0, 0.4) !important ;
  }
}
